// Desciptive
$white: #fff;
$eggshell: #F4F0EC;
$outter-space: #323B3C;
$grey-shuttle: #516163;
$fountain: #63B2BB;

 // Brands
$brand-fb: #3b5998;
$brand-tw: #55acee;
$brand-yt: #cd201f;
$brand-ig: #3f729b;

// Functional
$reversed: $white;
$bg: $eggshell;
$body-text: $grey-shuttle;
$headings: $outter-space;
$link: $fountain;
// $seperator:;