// Desciptive
$white: #fff;
$blue: rgb(19, 138, 140);
$outter-space: #323b3c;

 // Brands
$brand-fb: #3b5998;
$brand-tw: #55acee;
$brand-yt: #cd201f;
$brand-ig: #3f729b;

// Functional
$reversed: $white;
$bg: $white;
$body-text: $outter-space;
$headings: $outter-space;
// $seperator:;
$link: $blue;