$susy: (
	container: 96.61%,
	debug: (
		image: show-columns,
	)
);

// Max-widths that work well with 12 column grid and 24px baseline grid
// 1296
// 1152

// Media query brakpoints
$breakpoint-medium: 31.25em;//780px
$breakpoint-large: 81em;//1296px

// Susy grid layouts
$layout-small: (
	columns: 4,
);
$layout-medium: (
	columns: 12,
);
$layout-large: (
	container: 1296px,
);
